<div class="row">
    <div class="col-xs-4 add-block add-transaction">
        <div class="block-header ">
            <h3>Add transaction</h3>
        </div>
<!--        <a ui-sref="transactions.add" ng-click="transactionsCtrl.showAddTransactionForm()" ng-hide="transactionsCtrl.showTransactionForm">Add transaction</a>-->
        <div ui-view></div>

    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-12">
        <div class="block-header ">
            <h3>List of transactions</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>Income Sum</th>
                    <th>Outcome Sum</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactionsCtrl.transactions">
                    <th>{{ transaction.comment }}</th>
                    <th>{{ transaction.income_sum }}</th>
                    <th>{{ transaction.outcome_sum }}</th>
                    <th>{{ transaction.created }}</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>
